/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7e7d5;
    color: #333;
    text-align: center;
    padding: 20px;

    background-image: url('img/backg.jpg'); /* Correct path to the image */
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height:85vh; /* Full height of the viewport */
    margin: 0;
}

/* Header Section */
.header {
    background-color: #8a4b24;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #d1b58f;
    border-radius: 20px; /* Applies a 30px radius to all corners */
}

.placement {
    display: flex;
    align-items: center; /* Vertically aligns items in the center */
    justify-content: space-between; /* Distributes space between items */
    gap: 20px; /* Optional: adds space between logo and brand */
}

.brand {
    display: flex;
    flex-direction: column; /* Stacks the title and tagline vertically */
    justify-content: center;
}
.header .brand-title {
    font-size: 2rem;
    font-weight: bold;
}

.header .brand-tagline {
    font-size: 0.9rem;
    margin-top: 5px;
}

.menu-toggle {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

/* Main Content */
.content {
    display: flex;
    flex-direction: column; /* Stacks items vertically */
    align-items: flex-start; /* Aligns items to the left */
    margin-left: 100px; /* Left margin for the entire content */
    margin-top: 100px;
}

.content h1 {   
    font-size: 65px;
    color: #0a0707;
}

.intro {
    margin-top: 50px;
    letter-spacing: 5%;
}

.intro-text {
    font-size: 2rem;
    color: #0c0909;
    margin-top: 10px;
}

.start-button {
    background-color: #8a4b24;
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 130px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.start-button:hover {
    background-color: #6f3b1e;
}

.illustration img {
    width: 300px;
    margin-top: 20px;
}
